In [1]:
import pandas as pd

In [2]:
bible_text = pd.read_csv('Text/bible.txt', header=None, sep='/n', engine='python')
bible_text = bible_text.rename(columns = {0: 'Line'})
bible_text.head()

                                                Line
0                                                ï»¿
1                                            Genesis
2  1:1 In the beginning God created the heaven an...
3  1:2 And the earth was without form, and void; ...
4  face of the deep. And the Spirit of God moved ...

In [3]:
dante_text = pd.read_csv('Text/DivineComedyComplete.txt', header=None, sep='/n', engine='python')
dante_text = dante_text.rename(columns = {0: 'Line'})
dante_text.head()

                                                Line
0                                            CANTO I
1    His glory, by whose might all things are mov'd,
2              Pierces the universe, and in one part
3  Sheds more resplendence, elsewhere less. In he...
4      That largeliest of his light partakes, was I,

In [4]:
homer_text = pd.read_csv('Text/HomerComplete.txt', header=None, sep='/n', engine='python')
homer_text = homer_text.rename(columns = {0: 'Line'})
homer_text.head()

                                                Line
0                                             BOOK I
1  Sing, O goddess, the anger of Achilles son of ...
2  countless ills upon the Achaeans. Many a brave...
3  down to Hades, and many a hero did it yield a ...
4  for so were the counsels of Jove fulfilled fro...

In [5]:
sherlock_text = pd.read_csv('Text/sherlock.txt', header=None, sep='/n', engine='python')
sherlock_text = sherlock_text.rename(columns = {0: 'Line'})
sherlock_text.head()

                                                Line
0                   ï»¿ADVENTURES OF SHERLOCK HOLMES
1                                        Adventure I
2                               A SCANDAL IN BOHEMIA
3                                                  I
4  To Sherlock Holmes she is always _the_ woman. ...

In [6]:
shakespeare_text = pd.read_csv('Text/t8.shakespeare.txt', header=None, sep='/n', engine='python')
shakespeare_text = shakespeare_text.rename(columns = {0: 'Line'})
shakespeare_text.head()

                                         Line
0                                        1609
1                                 THE SONNETS
2                      by William Shakespeare
3                                           1
4  From fairest creatures we desire increase,

In [7]:
alltext = [[bible_text, 'The Bible'], [dante_text, 'The Divine Comedy'], [homer_text, 'The Works of Homer']
           , [sherlock_text, 'The Adventures of Sherlock Holmes'], [shakespeare_text, 'The Complete Works of Shakespeare']]
# titles = ['The Bible', 'The Divine Comedy', 'The Works of Homer', 'The Adventures of Sherlock Holmes', 'The Complete Works of Shakespeare']

In [8]:
input_txt = str(input("Enter a phrase to search:"))
print(input_txt)

Enter a phrase to search:my couch; so go, and do not provoke me or it shall be the worse for
my couch; so go, and do not provoke me or it shall be the worse for

In [9]:
def BookSearch(book, text):
    for line in book['Line']:
        try:
#             print (line)
            if line == text:
                return True
#                 break
        except:
            return False

In [10]:
# inTitle = []

def LibrarySearch(alltext, input_txt):
    inTitle = []
    for book in alltext:
        
        x = BookSearch(book[0], input_txt)
        print(x)
        if x ==True:
            inTitle.append(book[1])
    
    return inTitle

In [11]:
print(BookSearch(shakespeare_text, input_txt))
appearingIn = LibrarySearch(alltext, input_txt)
print(f'"{input_txt}" can be found in {appearingIn}')

None
None
None
True
None
None
"my couch; so go, and do not provoke me or it shall be the worse for" can be found in ['The Works of Homer']